.table {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.transactionHistory {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 700px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tableHead {
  background-color: rgba(14, 151, 220, 0.467);
  color: #ffffff;
  text-align: left;
}

.head {
  padding: 12px 15px;
}

.rowStyle {
  border-bottom: 1px solid #dddddd;
  background: lightgray;
}

.rowStyle:nth-child(even) {
  background: gainsboro;
}
